body {
	font-family: monospace;
	text-align: center;
	padding: 1.5rem;
	font-size: 1rem;
	line-height: 1;
	transition: all 725ms ease-in-out;
}

h1 {
	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 1rem;
}

p { 
	margin-bottom: 0;
	text-align : center;
}
